/* this code was inspired by https://xcruxiex.github.io/, i edited the code and made it powercord friendly*/

/* i needed some holy water after looking at this code jesus fuck it hurts - tropical*/

/* that was kinda mean but ok - snapper*/


/*Variables*/
.theme-dark {
	--settings-icon-color: #fff;
}
.theme-light {
	--settings-icon-color: #4F5660;
}


.sidebar-CFHs9e .ui-tab-bar-item,
.sidebar-CFHs9e .item-PXvHYJ {
	display: flex;
	align-items: center;
}

.sidebar-CFHs9e .ui-tab-bar-item:before,
.sidebar-CFHs9e .item-PXvHYJ:before {
	content: '';
	width: 24px;
	height: 24px;
	left: 15px;
	margin-right: 6px;
	margin-top: -2px;
	background: var(--settings-icon-color);
	-webkit-mask: var(--icon) center/contain no-repeat;
	mask: var(--icon) center/contain no-repeat;
	--icon: url('https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Powercord%20Plug.svg');
	flex-shrink:0;
}


/* User Settings */
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="MyAccount"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/My%20Account.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="PrivacynSafety"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Privacy%20%26%20Saftey.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="AuthorizedApps"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Authorized%20Apps.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Connections"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Connections.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Billing"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Billing.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="DiscordNitro"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Subscriptions.svg);
	--settings-icon-color: #80A6FF;
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="DiscordNitro"][style*="color: rgb(255, 255, 255)"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Subscriptions.svg);
	--settings-icon-color: #fff;
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="LibraryInventory"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Gift%20Inventory.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="NitroServerBoost"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Server%20Boost.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="HypesquadOnline"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/HypeSquad.svg);
	--settings-icon-color: #FBB848;
}


/* App Settings */
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="VoicenVideo"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Voice%20%26%20Video.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Overlay"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Overlay.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Notifications"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Notifications.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Keybinds"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Keybinds.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="GameActivity"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Game%20Activity.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="TextnImages"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Text%20%26%20Images.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Appearance"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Appearance.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="StreamerMode"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Streamer%20Mode.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Language"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Language.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Linux"]:before,
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Windows"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Windows%20Settings.svg);
}


/* Powercord */
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-general"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/General%20Settings.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-moduleManager-plugins"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Plugins.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-moduleManager-themes"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Themes.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-updater"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Updater.svg);
}


/* Powercord Plugins */
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-clickableEdits"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/clickableedits-PLUGIN.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-spotify"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/spotify-PLUGIN.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-emojiUtility"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/emojiutility-PLUGIN.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="undertale-dialog-generator"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/undertaledialogue-PLUGIN.svg);
	flex-shrink:0;
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="bdCompat"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/bdcompact-PLUGIN.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="dice-command"]:before {
	--icon: url(https://raw.githubusercontent.com/Controlfreak707/dice-command/master/icon.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="relaunch"]:before {
	--icon: url(https://raw.githubusercontent.com/Controlfreak707/relaunch/master/icon.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="ian-settings"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/inappnotifs-PLUGIN.svg);
}


/* Extras Panel */
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="changelog"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Change%20Log.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="pc-labs"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Powercord%20Labs.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="Experiments"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Experiments.svg);
}

.sidebar-CFHs9e .item-PXvHYJ[data-item-id="DeveloperOptions"]:before {
	--icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Develpoer%20Options.svg);
}


/* Logout */
.sidebar-CFHs9e .item-PXvHYJ[data-item-id="logout"]:before {
    --icon: url(https://raw.githubusercontent.com/Snapperito/CSS-Snippets/main/icons/Log%20Out.svg);
    --settings-icon-color: #F04747;
}
